# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log

# Config (si decides mantenerlo como backup)
config.json

# Build output
/dist
.env*
logs/
src/Tests/

# Archivos locales
reports.json
tools/
Tests/
